html, body { 
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

a {
	color: #0059b2;
	text-decoration: none;
}
a:hover {
	color: #CC0000;
	text-decoration: underline;
}

.clear {clear: both;}

ul.mainmenu {
	list-style: none;
	background: #3F4137;
	height: 60px;
	margin: 0;
	padding: 0;
	color: #fdc073;
	font-size: 20px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 50px;
}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #fdc073;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #FDA83D;
}

div.content {
	margin: 10px;
}

.form-contact label {
	display: inline-block; 
	min-width: 80px;
}
.form-contact p {margin: 10px 0 10px 0;}
.form-contact input[type=submit], textarea {
	font-size: 16px;
}

.flash {padding: 10px;}
.flash.success {
	border: 1px solid #21DB56;
	background: #AEFFC5;
}
.flash.error {
	border: 1px solid #FF4343;
	background: #FF9C9C;
}

ul.list-posts {
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 600px;
}
ul.list-posts li {
	margin: 20px 0 0 0;
	border: 1px solid #eee;
}
ul.list-posts .title {
	margin: 0;
	padding: 5px;
	background: #eee;
}
ul.list-posts .annonce {
	margin: 0;
	padding: 10px 5px 10px 5px;
}

.profile-ava {
	width: 130px;
	text-align: center;
	overflow: hidden; 
	background: #eee;
	padding: 10px;
}
.profile-ava img {max-width: 150px; height: auto;}

.profile-load {
	margin-top: 10px;
	overflow: hidden;
	max-width: 150px;
}
.profile-load input[type=submit], input[type=file] {
	width: 100%;
	font-size: 18px;
}
.profile-load p {
	padding: 0;
	margin: 5px 0 0 0;
}

.profile-panel {padding: 0 0 0 10px;}
ul.profile-info {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
	color: #7E652F;
}
ul.profile-info li {margin-top: 10px;}