<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
{% block title -%}
{% if title %}
	<title>Про Flask - {{title}}</title>
{% else %}
	<title>Про Flask</title>
{% endif %}
{% endblock %}
</head>
<body>
{% block content -%}
	{%- block mainmenu -%}
<ul class="mainmenu">
{% for p in menu %}
<li><a href="{{p.url}}">{{p.title}}</a></li>
{% endfor %}
</ul>
	{% endblock mainmenu -%}
<div class="clear"></div>
<div class="content">
	{% if title -%}
<h1>{{title}}</h1>
	{% else -%}
<h1>Про Flask</h1>
	{% endif -%}
{% endblock -%}
</div>
</body>
</html>
