 {% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/register" method="post" class="form-contact">
<p><label>Имя: </label> <input type="text" name="name" value="" required />
<p><label>Email: </label> <input type="text" name="email" value="" required />
<p><label>Пароль: </label> <input type="password" name="psw" value="" required />
<p><label>Повтор пароля: </label> <input type="password" name="psw2" value="" required />
<p><input type="submit" value="Регистрация" />
</form>
{% endblock %}
